.u-next, .u-previous, .u-new-comment {
  position: absolute;  
  width: 40px;
  height: 40px;
  margin-left: 462px;
  font-weight: 500;
  border: 3px solid rgba(125,125,125,1.0);
  border-radius: 23px;
  background-color: rgba(50,50,50,1.0);  
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.u-next:hover, .u-previous:hover, .u-new-comment:hover {
  color: rgba(250,125,50,1.0);
  background-color: rgba(0,0,0,1.0);  
}

.u-next {
  top: 103px;
}

.u-previous {
  top: 163px;
}

.u-new-comment {
  top: 603px;
}

.u-text {
  position: absolute;
  top: 4px;
  left: 44px;
}

.fa {
  text-align: center;
}

.fa-arrow-left {
  margin: 4px 6px;
}

.fa-arrow-right {
  margin: 4px 7px;
}

.fa-plus {
  margin: 7px 8px;
}

.fa-user-circle {
  width: 20px;
  margin-top: 0px;
}

.u-comment > .u-form {
  margin: 20px;
}

.u-user-comments {
  padding: 20px;
}

.u-user {
  font-weight: 300;
  color: rgba(125,125,125,1.0);
}

.u-user-message {
  font-weight: 400;
  color: rgba(200,200,200,1.0);
  line-height: 30px;
}

hr {
  height: 3px;
  margin: 10px 0px;  
  border: none;
  background-color: rgba(125,125,125,0.3);
}

#AddComment {
  display: none;
}