<% @grams.each do |gram| %>
  <%= link_to gram_path(gram) do %>
    <div class="u-post">
      <div class="u-image" style="background-image: url(<%= gram.image.url %>)"></div>
      <div class="u-message">
        <span class="fa fa-user-circle" style="font-size:20px;"></span> # <%= gram.user_id %> … <%= gram.message %>
      </div>
    </div>
  <% end %>
<% end %>
 
 
 